@font-face {
    font-family: BigNoodleTitling;
    src: url("../lib/big_noodle_titling.ttf");
}

@font-face {
    font-family: Helvetica;
    src: url("../lib/helvetica.ttf");
}


#title {
    font-family: BigNoodleTitling;
    font-size: 70px;
    text-align: center;
    text-shadow: rgba(86, 86, 86, 0.6) 0 3px;
}

#subtitle {
    font-family: Helvetica;
    font-size: 30px;
    line-height: 50%;
    color: #272727;
    text-align: center;
}

#title-image {
    display: flex;
    justify-content: center;
    position: relative;
    height: auto; width: auto;
    padding: 20px 15px;
    text-align: center;
}
.btn-primary {
    text-align: center;
    width: auto;
    height: 50px;
    margin: 30px auto;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    line-height: 50px;
    text-align: center;
    background-color: #F74C4C;
    border: #F74C4C;
    font-family: BigNoodleTitling;
    font-size: 30px;
    background-position: center;
}

.btn-secondary {
    text-align: center !important;
    width: auto;
    height: 50px;
    margin: 30px auto;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    line-height: 50px;
    text-align: center;
    background-color: #565656;
    border: #565656;
    font-family: BigNoodleTitling;
    font-weight: bold;
    background-position: center;
}

.btn-secondary:hover {
    background-color: #F74C4C;
    border-color: #F74C4C;
}

.common-btn {
    vertical-align: middle;
    border: #F74C4C;
    font-family: Helvetica;
    font-size: 20px;
    top: 50%;
    padding: 10px 50px;
    color: black;
    opacity: 0.85;
    height: auto;
    margin-bottom: 30px;
}

.btn-red {
    background-color: #F74C4C;
}

.btn-white {
    background-color: white;
}

.btn-log {
    position: absolute;
    top: 10px;
    right: 10px;
}

.btn-key  {
    position:absolute;
    top: 0px;
    right: 70px;
}


#textSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 200px;
}

section {
    padding: 100px 0;
}

#section-heading {
    display: block;
    margin-top: 0;
    font-family: Helvetica;
    color: #272727;
    text-align: center;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.text-center{
    text-align: center;
 }

.header {
    margin-top: 10px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}

.header-content {
    text-align: center;
}

hr {
    border-color: black;
    border: solid 1px;
}

.usernumber{
    font-size: 70px
}

.image {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
