@font-face {
    font-family: BigNoodleTitling;
    src: url("../lib/big_noodle_titling.ttf");
}

@font-face {
    font-family: Helvetica;
    src: url("../lib/helvetica.ttf");
}


#title {
    font-family: BigNoodleTitling;
    font-size: 70px;
    text-align: center;
    text-shadow: rgba(86, 86, 86, 0.6) 0 3px;
}

#subtitle {
    font-family: Helvetica;
    font-size: 30px;
    line-height: 50%;
    color: #272727;
    text-align: center;
}

#title-image {
    display: flex;
    justify-content: center;
    position: relative;
    height: auto; width: auto;
    padding: 20px 15px;
    text-align: center;
}

.btn-red {
    vertical-align: middle;
    border: #f75458;
    background-color: #f75458;
    font-family: Helvetica;
    font-size: 20px;
    top: 50%;
    padding: 10px 50px;
    color: black;
    opacity: 0.85;
    height: 490px;
}

.btn-white {
    vertical-align: middle;
    background-color: white;
    border: #f75458;
    font-family: Helvetica;
    font-size: 20px;
    top: 50%;
    padding: 10px 50px;
    color: black;
    opacity: 0.85;
    height: 490px;
}

.btn-log {
    position: absolute;
    top: 0px;
    right: 0px;
}

.btn-key  {
    position:absolute;
    top: 0px;
    right: 70px;
}

#numOfUsersSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 350px;
}

.btn-button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-color: black;
    opacity: 0.8;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    border: #fff;
    font-family: Helvetica;
    font-size: 20px;
    margin: 30px;
    padding: 15px 30px;
    color: #f75458;
    background-position: center;
}

.btn-button:hover,
.btn-button:focus,
.btn-button.focus,
.btn-button:active,
.btn-button.active,
.open > .dropdown-toggle.btn-button {
    border-color: #f75458;
    color: #272727;
    background-color: #f75458;
    opacity: 1;
    font-weight: bold;
    padding: 20px 35px;
}

section {
    padding: 100px 0;
}

#section-heading {
    display: block;
    margin-top: 0;
    font-family: Helvetica;
    color: #272727;
    text-align: center;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.text-center{
    text-align: center;
 }

.header {
    margin-top: 10px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}

.header-content {
    text-align: center;
}

hr {
    border-color: black;
    border: solid 1px;
}

.usernumber{
    font-size: 70px
}
