/* ====== basic settings ====== */
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: BigNoodleTitling;
  src: url("../lib/big_noodle_titling.ttf");
}

#sharedPageBodyWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body {
  font-size: 0.9rem !important;
  font-weight: 300 !important;
}

/* ====== Header ====== */
#header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  margin-top: 20px;
}
#challenge {
  display: flex;
  align-self: center;

  font-size: 70px;
  font-family: BigNoodleTitling;
  text-shadow: rgba(86, 86, 86, 0.6) 0 3px;
  color: #272727;
}
#challenge > span {
  color: #F74C4C;
}
#uploadReportImage {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#modalUploadButton {
  margin-left: 10px;
  font-size: 12px;
}
#reportButton {
  width: 123px;
}
.ifImageExists {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin-bottom: 10px;
}
img {
  display: block;
  width: 50%;
  margin-bottom: 10px;
}



/* ====== Timer ====== */
#timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 30px;
  padding: 10px;
}
#countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 180px;
  margin-bottom: 10px;

  background: #222;
  background-image: -webkit-linear-gradient(top, #222, #333, #333, #222);
  background-image: -moz-linear-gradient(top, #222, #333, #333, #222);
  background-image: -ms-linear-gradient(top, #222, #333, #333, #222);
  background-image: -o-linear-gradient(top, #222, #333, #333, #222);

  border-radius: 5px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
}
#tiles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  z-index: 1;
}
#countdown #tiles > span{
  width: 92px;
  font: bold 48px 'Droid Sans', Arial, sans-serif;
  text-align: center;
  color: #111;

  background-color: #ddd;
  background-image: -webkit-linear-gradient(top, #bbb, #eee);
  background-image:    -moz-linear-gradient(top, #bbb, #eee);
  background-image:     -ms-linear-gradient(top, #bbb, #eee);
  background-image:      -o-linear-gradient(top, #bbb, #eee);

  border-top: 1px solid #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);

  margin: 0 7px;
  padding: 18px 0;
}
#countdown .labels{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 25px;
}
#countdown .labels li{
  width: 102px;
  font: bold 15px 'Droid Sans', Arial, sans-serif;
  color: #f47321;
  text-shadow: 1px 1px 0px #000;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
}
#progressBarWrapper {
  width: 700px;
}
#progressBar {
  height: 20px;
}
.progress-bar {
  background-color: #F74C4C !important;
  font-size: 0.6rem !important;
}
#dependency_timeEnd_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 700px;
}
#dependency {
  color: darkorange;
}


/* ====== Cheering Message ====== */
#cheeringMessage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;

  width: 900px;
  margin-top: 60px;
  padding: 40px 100px;

  background-color: #eff0f1;
}
#cheeringMessageInput {
  display: flex;
  flex-direction: row;
  width: 700px;
}
#cheeringFriendName {
  width: 150px;
}


/* ====== Poking, Betting ====== */
#poking, #betting {
  display: flex;
  flex-direction: column;
  align-self: center;

  width: 900px;
  height: 450px;
  margin-top: 60px;
  padding: 40px 100px;

  background-color: #eff0f1;
}
#poke {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#poke > div {
  font-size: 25px;
}
#bet {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#bet > div {
  font-size: 25px;
}
#pokingInput, #bettingInput > div {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 600px;
}
#bettingAmount {
  width: 360px;
}
#bettingSideLabel {
  width: 100px;
}
#pokingFriendName, #bettingFriendName {
  width: 500px;
}
#pokingButton, #bettingButton {
  width: 100px;
}
#pokingBoard {
  height: 400px;
  overflow: scroll;

  margin-top: 40px;
}
#bettingBoard {
  height: 350px;
  margin-top: 40px;
}
#bettingBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bettingSideLabel {
  width: 100px;
  text-align: center;
}
#betting_dynamic_wrapper {
  width: 475px;
  background-color: white;
}
#betting_dynamic {
  color: white;
  height: 25px;
  background-color: #f75458;
  text-align: center;
}
#bettingFriends {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
/* ====== Footer ====== */
#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;

  width: 100%;
  height: 200px;
  margin-top: 80px;
  padding: 40px 110px;

  background-color: #272727;
}
