<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="icon" href="img/favicon/favicon.ico">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Deep Universal Probabilistic Programming">

    <title>Promiss Cut our Dependencies!</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>


    <link rel="stylesheet" href="../static/css/main.css" type="text/css">

</head>

<body id="page-top">

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                 <img src="../static/img/logo.jpg" alt="Promiss Logo" style='height: 200px;'></img>
                 <br>
                <h1>Promiss</h1>

                <hr>
                <p style="color: #EEE; opacity: .95;">Cut off your dependencies!</p>
                <a href="login.html" class="btn btn-primary btn-xl page-scroll">Login</a>
                <a href="enroll.html" class="btn btn-primary btn-xl page-scroll">Enroll</a>
                <a href="user_home_page.html" class="btn btn-primary btn-xl page-scroll">User</a>
                <a href="shared_page.html" class="btn btn-primary btn-xl page-scroll">Share</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-left">
                    <h2 class="section-heading text-center section-white">About Promiss</h2>
                    <hr class="light">

                    <p class="text-faded text-auto1">
                    Promiss is a web to help users who like SNS and really want to cut off dependency(alcohol, cigarette, or caffeine)<br>in the temporary period.<br> <br>
                    <b>Function1</b>: You can set up your goal and check how much you have achieved every time.<br>
                    <b>Function2</b>: You can share your goal at SNS, and interact with your friends.<br>
                    <b>Function3</b>: You can play fun games to get a chance.<br>
                    <b>Function4</b>: You can gradually have a happier life! <br>
<br> <br>
Check out the <a href="https://www.naver.com">developer's note</a> for more information.
                    </p>
                    <br>
                    <p class="text-faded text-center" style="font-size: 20px"> <i>Promiss is in a Beta release.</i> </p>
                </div>
            </div>
        </div>
    </section>


    <section  id="guide">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4 text-center">
                    <h2 class="section-heading">Numbers of people using Promiss</h2>
                    <hr class="light">
                    <p class = usernumber>4</p>
                </div>
            </div>
        </div>
    </section>
     <section class="bg-dark" id="number">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Source of Promiss</h2>
                <p>Promiss web is an open source. Visit this <a href="https://github.com/call-me-soo/CS374-2019Spring">link</a> for detailed source codes.</p>
                <br>

            </div>
        </div>
    </section>

    <section id="Credit">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Developers of Promiss:</h2>

                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                        <img src="img/JINWON.jpg" alt="JINWON" style='height: 100px;'></img>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                        <img src="img/JINWON.jpg" alt="JINWON" style='height: 100px;'></img>
                </div>

            </div>
            <br>
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                        <img src="img/JINWON.jpg" alt="JINWON" style='height: 100px;'></img>
                </div><div class="col-lg-4  text-center">

                <div class="col-lg-4 col-md-6 text-center">
                        <img src="img/JINWON.jpg" alt="JINWON" style='height: 100px;'></img>
                </div>

            </div>
            <br>

</body>

</html>

