<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Promiss: Cut-off your dependency!</title>
  <link rel="stylesheet" href="../static/css/shared_page.css">
  <link rel="stylesheet" href="../static/lib/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
  <div id="sharedPageBodyWrapper">

    <div id="header">
      <button type="button" class="btn btn-light" onClick="location.href='main'">
        <i class="fas fa-home"></i>
        <span>Main Page</span>
      </button>
      <div id="challenge">
        {{ userid }}'s &nbsp; <span>Challenge</span>
      </div>
      <button id="reportButton" type="button" data-toggle="modal" data-target="#reportModal"
              class="btn btn-danger" >REPORT</button>
      <div id="reportModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">New Report</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div id="uploadReportImage">
                <div v-if="!image" class="ifImageExists">
                  <h4>Select an image</h4>
                  <input type="file" @change="onFileChange" accept="image/*">
                </div>
                <div v-else align="center" class="ifImageExists">
                  <img :src="image" />
                  <button class="btn btn-secondary" @click="removeImage">Remove image</button>
                </div>
              </div>
              <form>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Message to your friend:</label>
                  <textarea class="form-control" id="message-text" v-model="report_text" placeholder="Bye Bye!"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" v-on:click="submitReport()">Report</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="timer">
      <div id="countdown">
        <div id='tiles'></div>
        <div class="labels">
          <li>Days</li>
          <li>Hours</li>
          <li>Mins</li>
          <li>Secs</li>
        </div>
      </div>
      <div id="progressBarWrapper">
        <div id="progressBar">
          <div id="dynamic" class="progress-bar progress-bar-success active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
            <span id="current-progress"></span>
          </div>
        </div>
      </div>
      <div id="dependency_timeEnd_wrapper">
        <div id="dependency">
          Cut-off: Alcohol <i class="fas fa-beer"></i>
        </div>
        <div id="timeEnd">
          Due Date: {{ print_end_time }}
        </div>
      </div>
    </div>

    <div id="userGoals">
      <div id="moneySaved">
        <span class="badge badge-pill badge-light">
        </span>Saved: ₩ {{print_saved_money}}
      </div>
      <div id="miniGoals">
        <div class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              {{user_goals[0]}}
            </div>
            <div class="carousel-item">
              {{user_goals[1]}}
            </div>
            <div class="carousel-item">
              {{user_goals[2]}}
            </div>
          </div>
          <ol class="carousel-indicators">
            <li data-target=".carousel" data-slide-to="0" class="active"></li>
            <li data-target=".carousel" data-slide-to="1"></li>
            <li data-target=".carousel" data-slide-to="2"></li>
          </ol>
          <a class="carousel-control-prev" href=".carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href=".carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>

    <div id="cheeringMessage">
      <div id="cheeringMessageInput">
        <input type="text" class="form-control" v-model="cheeringMessage" placeholder="Leave a message for your friend">
        <input type="text" id="cheeringFriendName" class="form-control" v-model="cheeringFriendName" placeholder="name (optional)">
        <button v-on:click="sendCheeringMessage()" class="btn btn-warning">Send</button>
      </div>
    </div>

    <div id="poking">
      <div id="poke">
        <div>It's your turn!</div>
        <small>poke and remind your friend</small>
        <br />
        <div id="pokingInput">
          <input id="pokingFriendName" type="text" class="form-control" v-model="pokingFriendName" placeholder="name">
          <button id="pokingButton" v-on:click="onPoking()" class="btn btn-warning">
            Poke <i class="far fa-hand-point-right"></i>
          </button>
        </div>
      </div>
      <div id="pokingBoard">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">/</th>
              <th scope="col"># of Pokes</th>
              <th scope="col">Friend Name</th>
            </tr>
          </thead>
          <tbody calss="pokeTable" id="pokeTable">
          </tbody>
        </table>
      </div>
    </div>

    <div id="betting">
      <div id="bet">
        <div>Bet on {{ userid }}!</div>
        <small>show trust in your friend</small>
        <br />
        <div id="bettingInput">
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <input id="bettingAmount" type="text" class="form-control" v-model="bettingAmount" placeholder="how much?">
            <label for="betOnSucceed" class="btn btn-danger">
              <input type="radio" value="WillSucceed" v-model="bettingSide" id="betOnSucceed">Will Succeed
            </label>
            <label for="betOnFail" class="btn btn-danger">
              <input type="radio" value="WillSucceed" v-model="bettingSide" id="betOnFail">Will Fail
            </label>
          </div>
          <div>
            <input id="bettingFriendName" type="text" class="form-control" v-model="bettingFriendName" placeholder="name">
            <button id="bettingButton" v-on:click="onBetting()" class="btn btn-warning">
              Bet <i class="fas fa-money-check-alt"></i>
            </button>
          </div>
        </div>
      </div>
      <div id="bettingBoard">
        <div id="bettingBar">
          <div class="bettingSideLabel">Will Succeed</div>
          <div id="betting_dynamic_wrapper">
            <div id="betting_dynamic">
              <div class="progress-bar active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
            </div>
          </div>
          <div class="bettingSideLabel">Will Fail</div>
        </div>
        <div id="bettingFriends">
          <div calss="bettingBottomLabel" id="friendBidOnSucceed">{{succeed_bets_money}}</div>
          <div calss="bettingBottomLabel" id="friendBidOnFailing">{{failure_bets_money}}</div>
        </div>
      </div>
    </div>

    <!--
          <table id="succeedTable" class="table">
            <thead>
              <tr>
                <th scope="col">Money</th>
                <th scope="col">Friend Name</th>
              </tr>
            </thead>
            <tbody id="succeedBet">
            </tbody>
          </table>
          <table id="failureTable" class="table">
            <thead>
              <tr>
                <th scope="col">Money</th>
                <th scope="col">Friend Name</th>
              </tr>
            </thead>
            <tbody id="failureBet">
            </tbody>-->

    <div id="footer"></div>

  </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="../static/lib/vue-2.5.22.js"></script>
  <script src="../static/js/shared_page.js"></script>
</body>
</html>
