<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Promiss: Cut-off your dependency!</title>
    <link rel="stylesheet" href="../static/lib/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/user_home_page.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
  <div id="userHomeBodyWrapper">

    <div id="header">
      <button type="button" class="btn btn-light" onClick="location.href='main'">
        <i class="fas fa-home"></i>
        <span>Main Page</span>
      </button>
      <div id="challenge">
        {{ userid }}'s &nbsp; <span>Challenge</span>
      </div>
      <button id="edit" onClick="location.href='challenge_set_up'" type="button" class="btn btn-light">
        EDIT
        <i class="fas fa-cog"></i>
      </button>
    </div>

    <div id="timer">
      <div id="progressBarWrapper">
        <div id="progressBar">
          <div id="dynamic" class="progress-bar progress-bar-success active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
            <span id="current-progress"></span>
          </div>
        </div>
      </div>
      <div id="dependency_timeEnd_wrapper">
        <div id="dependency">
          Cut-off: Alcohol <i class="fas fa-beer"></i>
        </div>
        <div id="timeEnd">
          Due Date: {{ print_end_time }}
        </div>
      </div>
    </div>

    <div id="userGoals">
      <div id="moneySaved">
        <span class="badge badge-pill badge-light">
        </span>Saved: ₩ {{saved_money}}
      </div>
      <div id="miniGoals">
        <div class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              {{user_goals[0]}}
            </div>
            <div class="carousel-item">
              {{user_goals[1]}}
            </div>
            <div class="carousel-item">
              {{user_goals[2]}}
            </div>
          </div>
          <ol class="carousel-indicators">
            <li data-target=".carousel" data-slide-to="0" class="active"></li>
            <li data-target=".carousel" data-slide-to="1"></li>
            <li data-target=".carousel" data-slide-to="2"></li>
          </ol>
          <a class="carousel-control-prev" href=".carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href=".carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>

    <div id="buttonsSection">
      <button id="showSharingModal" type="button" data-toggle="modal" data-target="#sharingModal"
              class="btn btn btn-primary">Share on SNS</button>
      <button id="goToSharingPage" type="button" onClick="location.href='shared_page'"
              class="btn btn btn-secondary">Go To Shared Page!</button>
      <button id="softFailure" type="button" data-toggle="modal" data-target="#softFailureModal"
              class="btn btn-secondary">Really want to chill today?</button>
      <div id="sharingModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">New Post</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div id="chooseSharingFeature" class="dropdown">
                <label for="dropdownMenuButton" class="col-form-label-lg">Feature for sharing:</label>
                <button id="dropdownMenuButton" class="btn btn-secondary dropdown-toggle" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ dropdownText }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <button class="dropdown-item" v-on:click="changeDropdown('None')">None</button>
                  <button class="dropdown-item" v-on:click="changeDropdown('Pokings')">Pokings</button>
                  <button class="dropdown-item" v-on:click="changeDropdown('Bettings')">Bettings</button>
                  <button class="dropdown-item" v-on:click="changeDropdown('Posters')">Posters</button>
                </div>
              </div>
              <form>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Message:</label>
                  <textarea class="form-control" id="message-text"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Share</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="softFailureModal" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Earn your token!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              "This action will bring you to a rock-scissor-paper game against a computer. This computer never lost in last 10 years. Give it a shot and if you manage to win, a token for a day-off will be given to you!"
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" onClick="location.href='rock_scissor_paper'">Go</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="buttonExplanation">
      <div id="underShowSharingModal" class="buttonNotes">

      </div>
      <div id="underGoToSharingPage" class="buttonNotes">
        check out what your friends did
      </div>
      <div id="underSoftFailure" class="buttonNotes">
        get token for a day off
      </div>
    </div>

    <div id="cheerings">
      <div id="cheeringTitle">
        Cheerings from Friends!
      </div>
      <div id="cheeringMessageList">
        <ul class="list-group">
          <li class="list-group-item">
            <div class="message">{{ cheerings[0]['message'] }}</div>
            <div class="commentedUser">
              <i class="fas fa-user-circle"></i>
              {{ cheerings[0]['friendName'] }}
            </div>
          </li>
          <li class="list-group-item">
            <div class="message">{{ cheerings[1]['message'] }}</div>
            <div class="commentedUser">
              <i class="fas fa-user-circle"></i>
              {{ cheerings[1]['friendName'] }}
            </div>
          </li>
        </ul>
      </div>
      <div>
        <nav>
          <ul class="pagination">
            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <div id="reports">
      <div id="reportTitle">
        Reports!
      </div>
      <div id="reportMessageList">
        <ul class="list-group">
          <li class="list-group-item">
            <div class="reportImage">{{ reports[0]['reportImage'] }}</div>
            <div class="reportMessage">{{ reports[0]['reportMessage'] }}</div>
          </li>
        </ul>
      </div>
    </div>

    <div id="footer"></div>

  </div>
  <script src="../static/lib/jquery-3.3.1.min.js"></script>
  <script src="../static/lib/popper.min.js"></script>
  <script src="../static/lib/bootstrap.min.js"></script>
  <script src="../static/lib/vue-2.5.22.js"></script>
  <script src="../static/js/user_home_page.js"></script>
</body>
</html>
